@media(max-width: 1366px){
    .container{
        max-width: 960px;
    }
    .promo{
        background: #FFF1B8 url(../images/promo-images.jpeg) no-repeat top -50px right -300px / 700px;
    }
    .price,
    .category {
        font-size: 12px;

    }
}
@media(max-width: 992px){
    .container{
        max-width: 750px;
    }
    .promo{
        background: #FFF1B8 url(../images/promo-images.jpeg) no-repeat top -50px right -200px / 500px;
        padding: 40px 20px;
    }
    .promo-title {
        font-size: 35px;
        line-height: 40px;
    }
    .promo-text {
        max-width: 425px;
        font-size: 20px;
        line-height: 23px;
    }
    .card{
        flex-basis: 48%;
    }
    .footer-link{
        font-size: 16px;
    }
}
@media(max-width: 768px){
    .container{
        max-width: 560px;
    }
     .card.rating{
        flex-basis: 100%;
    }
    .card-info{
        flex-wrap: wrap;
    }
    .card-title{
        font-size: 18px;
    }
    .promo {
        background: #FFF1B8 url(../images/promo-images.jpeg) no-repeat top -8px right -88px / 300px;
        padding: 20px;
    }
    .promo-title {
        font-size: 28px;
        line-height: 34px;
    }
    .promo-text {
        max-width: 260px;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
    }
    .footer-link {
        font-size: 10px;
    }
    .footer-link:not(:last-child) {
        margin-right: 10px;
    }
    .social-link:not(:last-child) {
        margin-right: 10px;
    }
}
@media(max-width: 578px){
    .container{
        width: 90%;
    }
    .header{
        flex-wrap: wrap;
    }
    .adress-input{
        order: 5;
        flex: 1;
        margin-top: 15px;
    }
    .promo{
        background-image: none;
    }
    .promo-text {
        max-width: 538px;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
    }
    .section-title{
        font-size: 20px;
    }
    .card{
        flex-basis: 100%;
    }
    .card-title {
        font-size: 14px;
    }
    .card-img{
        width: 100%;
    }
    .footer{
        padding: 30px 0;
    }
    .footer-block{
        align-items: flex-start;
    }
    .footer-navigation{
        margin-left: 0;
        margin-right: 0;
        order: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer-imglogo{
        margin-right: 15px;
        order: 1;
    }
    .social-links{
        order: 2;
    }
}
@media(max-width: 480px){
    .header{
        margin-bottom: 15px;
    }
    .button{
        min-height: 20px;
    }
    .button-text{
        display: none;
    }
    .button-icon {
        margin-right: 0;
    }
    .promo{
        padding: 20px;
        margin-bottom: 10px;
    }
    .promo-text{
        font-size: 14px;
    }
    .section-heading{
        flex-wrap: wrap;
    }
    .footer-block{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .footer-imglogo{
        order: 0;
        margin-bottom: 20px;
    }
    .footer-navigation{
        margin-bottom: 20px;
        text-align: center;

    }
    .footer-link:not(:last-child){
        margin-right: 0;
    }
}
@media(max-width: 480px){
    .button-card-text{
        display: none;
    }
}
